body{
    background-color: rgba(240,240,240);
}

.container1{
    max-width: 1200px;
    min-width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 88vh;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto;
    border-radius: 8%;
    width: 40vw;
}

@media screen and (max-width: 600px) {
    .container {
      width: 95%; /* Adjust the width for smaller screens */
    }
  }

.inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input1{
    padding: 2%;
}


.input1, .sign-in{
    border-radius: 8px;
    width: 30vw;
    height: 7vh;
}

.text{
    font-size: 40px;
}

.forgot-password{
    display: flex;
    gap: 0.5rem;
}

.forgot-password a{
    text-decoration: none;
}

.sign-in{
    background-color: #2B3035;
    color: #fff;
}

.fb, .twitter{
    display: flex;
    cursor: pointer;
    gap: 1rem;
    align-items: center;
    background-color: #2B3035;
    justify-content: center;
    border-radius: 8px;
    color: #fff;
    width: 30vw;
    height: 7vh;
}




