.table {
    border-collapse: collapse;
    width:100%;
  }

  @media only screen and (max-width: 600px) {
    .table {
      overflow-x: auto; /* Allow horizontal scrolling */
    }
  }

 

  .table{
    border: 2px solid;
  }
  
  .table th,
  .table td {
    padding: 8px; /* Adjust as needed */
    border-bottom: 1px solid #ddd;
    font-size: 14px; /* Adjust as needed */
    border-bottom: 1px solid #ddd; /* Border between rows */
  border-right: 1px solid #ddd; /* Border between cells */
    text-align: center; /* Center horizontally */
  vertical-align: middle;
  }

  
  .table th {
    background-color: #2B3035;
    color: white;
    font-weight: bold;
  }

tr{
    border: 1px solid;
}

