.icon-div{
    background-color: white;
    width: 7%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid;
}

.icon-div:hover{
    background-color: #333;
    color: aliceblue;
}

.icon:hover{
    color: aliceblue;
}

.ml-auto{
    width: 30%;
}
.kont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
}

.radio-buttons{
    display: flex;
    gap: 2rem;
}

.w-100:active{
    transform: scale(0.9);
}